*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ingram_container{
    min-height: 100vh;
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.ingram_images{
    height: 200px;
    width: 200px;
    margin: 30px 10px;
}

.ingram_images img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.ingram_images__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 25px auto;
}

.ingram_container__formdata form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    /*width: 350px;*/
    margin: 0 auto;
    background: #CFDEE7;
}

.ingram_container__formdata form input[type="text"]{
    border: 1px solid rgba(0,0,0,0.4);
    width: 250px;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 4px;
    outline: none;
}

.ingram_container__formdata form button{
    padding: 10px;
    background-color: #0A369D;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background .3s ease-in-out;
}

.ingram_container__formdata form button:hover{
    border: 1px solid royalblue;
    background-color: transparent;
    color: #0A369D;
}
