{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
</head>
<body>
    <div class="ingram_container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>