{% extends 'base.html' %}

{% block title %}Home|Ingram{% endblock %}

{% block content %}
    <div class="ingram_container__formdata">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ photo_form }}
            <button type="submit">Submit photo</button>
        </form>
    </div>
    <div class="ingram_images__container">
        {% for photo in photos %}
            <div class="ingram_images">
                <img src={{ photo.image.url }} alt={{ photo.caption }}/>
                <p>{{ photo.caption }}</p>
                <p>{{ photo.created_at }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}